---
no_js: true
no_css: true
year: 2017
---

<% content_for :additional_css do %>
  <%= stylesheet_link_tag "landing2017" %>
<% end %>

<div id="header"><div class="banner"></div></div>
<div id="main" class="container">
  <div class="row landing">
    <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
      <section class="section1">
        <div class="edition">XXIII</div>
        <h2 class="title">Tendenze <span>Festival 2017</span></h2>
        <div class="subtitle">
          <ul class="info primary">
            <li class="text">Dal 14 al 17 Settembre</li>
            <li class="text">Spazio4</li>
            <li class="text">Piacenza</li>
          </ul>
          <div class="info pitch">Iscrizioni e candidature entro il 30.7</div>
        </div>
      </section>
    </div>

    <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12">
      <section class="section2">
        <h2 class="info">Nuovo sito in costruzione</h2>
        <div class="old-ref">
          <h3 class="return-link"><%= link_to 'Visita il sito 2016', '/index2016.html' %></h3>
          <ul class="contacts">
            <li class="icon first">
              <% link_to data.contacts.facebook, :target => "_blank" do %>
                <%= image_tag "fbook-icon.png" %>
              <% end %>
            </li>
            <li class="icon">
              <% link_to "mailto:#{data.contacts.email}"  do %>
                <%= image_tag "mail-icon.png" %>
              <% end %>
            </li>
            <li class="icon">
              <% link_to data.contacts.location, :target => "_blank" do %>
                <%= image_tag "maps-icon.png" %>
              <% end %>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <div class="row pictures">
    <div class="column col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <%= image_tag "landing/1.jpg", :class => "img-responsive" %>
    </div>
    <div class="column col-lg-4 col-md-4 col-sm-4 hidden-xs">
      <%= image_tag "landing/2.jpg", :class => "img-responsive" %>
    </div>
    <div class="column col-lg-4 col-md-4 col-sm-4 hidden-xs">
      <%= image_tag "landing/3.jpg", :class => "img-responsive" %>
    </div>
  </div>
  <div class="row presentation">
    <div class="col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-sm-6 col-sm-push-3 col-xs-12">
      <div class="pitch">Iscrizioni e candidature entro il 30.7</div>
      <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae vestibulum libero. Sed egestas condimentum nunc eu congue. Donec sit amet lacinia lorem, quis bibendum libero. Proin varius libero ante, at feugiat lacus accumsan et. Proin accumsan iaculis mollis. Praesent cursus condimentum gravida. Pellentesque maximus, lorem nec consectetur varius, nisi ex pulvinar nibh, non sagittis arcu orci vitae sem. Nulla ac massa ut libero tincidunt viverra non ac ante. Duis euismod ipsum nec ante vulputate hendrerit. Fusce dui quam, cursus nec consequat eget, tincidunt et felis.
      </p>
      <p class="description">
      Nunc vitae diam risus. Fusce euismod vulputate facilisis. Vivamus non massa vel odio euismod consectetur. Duis nec sodales enim. Aliquam erat volutpat. Praesent eget tincidunt libero. Aliquam tristique maximus nunc, non lobortis ante gravida euismod. In mi ex, blandit id erat vitae, lobortis malesuada libero. Integer et nulla sed velit commodo rhoncus. In eu mi vitae lectus fringilla tempus et quis mauris. Aenean vitae turpis nec urna pulvinar scelerisque quis sed neque. Vestibulum hendrerit at odio in rhoncus. Curabitur tempus, arcu vel pharetra fermentum, massa dui finibus augue, eget finibus metus mauris sit amet dui.
      </p>
      <p class="description">
      Sed faucibus sodales sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sed ante tellus. Integer odio enim, convallis eget ex a, sodales pellentesque nunc. Aliquam eu urna sapien. Nunc posuere quam vitae tincidunt consectetur. Nulla in dictum lorem. Vestibulum eget cursus ante, et finibus justo. Proin eget pharetra orci.
      </p>
      <p class="description">
      Sed sit amet congue leo, eu commodo sem. Morbi tempus sit amet est a aliquam. Cras aliquam nisl id dapibus ultrices. Nulla varius mauris ut justo finibus, sed faucibus nisi hendrerit. Integer a mi eu odio pretium lacinia. Nam sodales magna ac commodo imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis condimentum ut augue commodo sollicitudin. Etiam at volutpat ante. Donec elementum euismod turpis, nec iaculis urna bibendum vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
      <p class="description">
      Sed in cursus eros. Cras nulla ipsum, scelerisque et risus at, sollicitudin euismod arcu. Fusce malesuada egestas magna, vitae vulputate augue sollicitudin ut. Cras tristique, mi eu sodales blandit, lectus orci tincidunt felis, at consequat massa sem eget enim. Nunc aliquam accumsan enim, semper porttitor sapien sollicitudin sit amet. Ut nec ligula ac ex vulputate sollicitudin non quis purus. Fusce commodo viverra lorem tincidunt consectetur. Pellentesque at elit ac nisi rutrum posuere in nec erat. Nullam dapibus ex porta orci mattis, vel convallis risus blandit. Donec aliquam turpis ac dolor venenatis, id consectetur risus sagittis. Maecenas lobortis dignissim nibh, et rhoncus massa suscipit eu. Phasellus sem mauris, ultrices non lectus ut, fringilla vehicula velit.
      </p>
    </div>
  </div>
</div>
